/////Global Style

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #FCFCFC;
}

nav {
  display: flex;
  color: white;
  font-size: 1.4em;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  background: #3C2D7E;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(60, 45, 126, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(60, 45, 126, 0.6);
  outline: 0 none;
}

input[type=submit] {
  color: white;
  border-color: #FCFCFC;
  background: linear-gradient(to right, #4b95c6 0%, #3c2d7e 78%);
  padding: 0.5em 2em;
  font-size: 1.15em;
  border-radius: 1.5em;
}

.input_forms {
  border: 1px #3C2D7E solid;
}

/////Landing Page

.skip-main-div {
  height: 100vh;
  display: flex;
  align-content: space-around;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.skip-images-div {
  margin: auto;
}

.skip-explain-div {
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 0.5;
  margin-bottom: 1em;
}

.skip-link-div {
  display: inline-flex;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 3em;
}

.skip-link-div {
  color: #3C2D7E;
  text-align: justify;
  font-size: 1.15em;
  font-weight: bolder;
  cursor: pointer;
}

#login-button-spotify {
  color: white;
  border-color: white;
  background: linear-gradient(to right, #4b95c6 0%, #3c2d7e 78%);
  padding: 0.5em 2em;
  font-size: 1.15em;
  border-radius: 1.5em;
  margin-bottom: 3em;
}

//// Log in
#login-page{
  display: block;
  max-width: 100vh;
  flex-direction: column;
}

.login-top-div {
  margin-top: 5em;
}

#login-spotify-button{
  color: #84bd00;
  font-size: 1.7em;
}

.login-links-button {
  line-height: 1.8;
}

////Update Profile Page

#form-page {
  display: block;
  max-width: 100vh;
  flex-direction: column;
}


.form-profile-body {
  height: 100vh;
  display: flex;
  align-content: space-around;
  flex-direction: column;
  align-items: stretch;
  line-height: 2.8em;
}

#form-profile-update-button {
  margin-top: 2em;
  text-align: center;
}

////Concert Page

#concert-page{
  display: block;
  max-width: 100vh;
  flex-direction: column;
}

#concert-img img {
  object-fit: cover;
  width: 170px;
  height: 140px;
  border-radius: 5px;
}

////Nav bar

.nav_dropdown_button {
  display: flex;
  margin-left: auto;
  text-align: right;
}

#nav_dropdown_background {
  background-color: #001fff00;
}

.dropdown-menu {
  left: -111px;
  text-align: right;
  border-color: #3C2D7E;
  background-color: rgba(255, 255, 255, 1);
  padding-right: 1em;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.fa-plus-circle{
  color: #2664A3;
}

.fa-minus-circle {
  color: #C22945;
}

////match page

.match-pop-top {
  color: white;
  background-color: #3C2D7E;
////user like or no like

.user-main-div{
  height: 100vh;
  display: flex;
  align-content: space-around;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.user-like-div{
  display: inline-flex;
  justify-content: space-between;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 3em;
}.user-like-div{
  text-align: justify;
}

.fa-volume-mute{
  color: #C22945;
}

.fa-volume-up{
  color: #2664A3;
}

////user profile

.profile-main-div{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {}

